.button-container {
  position: absolute;
  left: 45.33%;
  transform: translateX(-50%);
	width: 40rem;
	bottom: 0vh;
	margin-left: 0;
	
	@include atSmall {
    left: 49.5%;
		bottom: 4vh;
		width: 53rem;
		margin-left: -2rem;
	}

	@include atMedium {
    left: 50.3%;
		top: 33vh;
		width: 60rem;
    margin-left: -2rem;     
	}		
}

.note-buttons {
	margin-bottom: 10.5rem;

	@include atSmall {
		margin-bottom: 13.5rem;
		
	}
	@include atMedium {
    margin-bottom: 6.5rem;
	}
}

.note-buttons > li, .register-buttons > li {
  border: 1px solid #777;
  float: left;
  height: 3.8rem;
  width: 3.8rem;
  text-align: center;
  line-height: 3.8rem;
  font-size: 155%;
  margin: 4rem .5rem 5rem .5rem;

    &.selected {
    color: #fafafa;
    background-color: steelblue;
  }

	@include atSmall {
		height: 5.8rem;
    width: 5.8rem;
    line-height: 5.8rem;
    font-size: 240%;
    margin: 4rem .5rem 5rem .5rem;
	}	

	@include atMedium {
    height: 6.8rem;
    width: 6.8rem;
    line-height: 6.8rem;
    font-size: 250%;
    margin: 0 .5rem 3rem .5rem;
  }
}

.task-text {
  position: relative;
  top: 4.5rem;
  left: 4.2rem;
  margin-left: 4px;
	font-weight: normal;
	font-size: 110%;
	margin-bottom: .4rem;

  @include atSmall {
  top: 4.5rem;
  margin-left: 0;
  font-size: 135%;
  margin-top: 2rem;
  margin-bottom: .6rem;
  }

  @include atMedium {
    position: static;
    margin-left: 4.6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 140%;
  }
}
