.header {
  position: relative;	
  z-index: 30;
  color: #fff;
}

.title {
  background-color: steelblue;
  font-weight: 300;
  margin: 0;
  padding: .7rem .9rem;
  font-size: 110%;
  letter-spacing: 1.5px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

    @include atSmall {
      text-align: center;
			font-size: 140%;
			padding: .8rem 0;
    }

    @include atMedium {
    font-size: 170%;
  }
}

.streak, {
  position: absolute;
	top: -0.6rem;
	right: 0.9rem;
	font-weight: 300;
	font-size: 110%;
  letter-spacing: 1.5px;
  
  @include atSmall {
    right: 1.8rem;
    font-size: 140%;
    letter-spacing: 2px;
    font-weight: 300;
    top: -.7rem;
  }

  @include atMedium {
		right: 3rem;
		font-size: 170%;
		top: -1rem;
  }
}
